<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">

    <!-- Page Title -->
    <title>홍인표 포트폴리오</title>
    <!--/ Page Title -->

    <meta name="author" content="Pe Themes">
    <meta name="description" content="Interactive Portfolio Showcase Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap" rel="stylesheet">

    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/entypo.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/iph-logo.jpg" />
    <link rel="apple-touch-icon" href="images/iph-logo.jpg" />
    <!--/ Favicons -->
</head>

<body class="layout-light">

    <!-- Lines (Don't Touch) -->
    <div class="lines"></div>
    <!-- /Lines -->

    <!-- Page Loader -->
    <div class="cygni-loader">
        <div class="counter" data-count="99">00</div>
    </div>
    <!-- /Page Loader -->

    <!-- Overlays (Don't Touch) -->
    <div class="overlays"></div>
    <!-- /Overlays -->


    <!-- Site Content -->
    <div id="main" class="content">

        <!-- Landing Section -->
        <div class="landing-section ls-light">

            <!-- Landing Header -->
            <div class="lc-header">

                <!-- Landing Header Content -->
                <div class="lc-content">

                    <!-- Landing Header Top Buttons -->
                    <div data-delay="1" class="lc-top has-animation skew-up">
                        <a href="#" class="underline">홍인표 Portfolio</a>
                        <a href="mailto:cjd0030@gmail.com" target="_blank">cjd0030@gmail.com</a>
                        <a href="https://github.com/aqntks" target="_blank">GITHUB</a>
                        <a target="_blank">010-3579-1430</a>
                                  
                    </div>
                    <!--/ Landing Header Top Buttons -->

                    <!-- Landing Header Middle Content -->
                    <div class="lc-mid">
                        <div class="lc-logo has-animation skew-up">
                            <img src="images/iph2.jpg" alt="Landing Logo">
                        </div>

                        <div data-delay="0.6" class="lc-capt has-animation lines-up">홍인표 포트폴리오 </br> 개발자</div>

                    </div>
                    <!--/ Landing Header Middle Content -->

                    <!-- Landing Header Bottom Content -->
                    <div class="lc-bottom">
                        <div data-delay="1" class="scroll-not has-animation fade-in-down">스크롤을 내려주세요</div>
                    </div>
                    <!--/ Landing Header Bottom Content -->

                </div>
                <!--/ Landing Header Content -->

                <!-- Landing Header Images -->
                <div class="lc-images">

                    <!-- Landing Header Images Top -->
                    <div class="lc-images-sec">

                        <div data-delay="1.2" class="lc-image has-animation fade-in-up">
                            <img src="images/project2/mos1.jpg" alt="Landing Header Image">
                        </div>

                        <div data-delay="0.9" class="lc-image has-animation fade-in-up">
                            <img src="images/project4/mypet-logo-center.jpg" alt="Landing Header Image">
                        </div>

                        <div data-delay="0.4" class="lc-image has-animation fade-in-up">
                            <img src="images/project1/coupleboard-mob2.jpg" alt="Landing Header Image">
                        </div>

                    </div>
                    <!--/ Landing Header Images Top -->

                    <!-- Landing Header Images Middle -->
                    <div class="lc-images-sec">
                        <div class="lc-image has-animation fade-in-up">
                            <img src="images/project1/coupleboard-pc-home.png" alt="Landing Header Image">
                        </div>

                        <div data-delay="0.7" class="lc-image has-animation fade-in-up">
                            <img src="images/project2/mos3.jpg" alt="Landing Header Image">
                        </div>

                        <div data-delay="1.2" class="lc-image has-animation fade-in-up">
                            <img src="images/project1/coupleboard-pc-memory2.png" alt="Landing Header Image">
                        </div>
                    </div>
                    <!--/ Landing Header Images Middle -->

                    <!-- Landing Header Images Bottom -->
                    <div class="lc-images-sec">

                        <div data-delay="1.5" class="lc-image has-animation fade-in-up">
                            <img src="images/project1/coupleboard-mob1.jpg" alt="Landing Header Image">
                        </div>

                        <div data-delay="0.4" class="lc-image has-animation fade-in-up">
                            <img src="images/project2/mos-seller-menu.png" alt="Landing Header Image">
                        </div>

                        <div data-delay="0.4" class="lc-image has-animation fade-in-up">
                            <img src="images/project3/order_pop.png" alt="Landing Header Image">
                        </div>

                    </div>
                    <!--/ Landing Header Images Bottom -->

                </div>
                <!--/ Landing Header Images -->

            </div>
            <!--/ Landing Header -->

            <!-- Landing Page Content Section -->
            <div class="lc-cont section" data-background="rgb(230, 230, 230)">
                <!-- Wrapper (Small) -->
                <div class="wrapper-small">

                    <!-- Column -->
                    <div class="c-col-8">

                        <!-- Text Wrapper -->
                        <div class="text-wrapper">

                            <div class="caption has-animation skew-up">이미지를 클릭해서 프로젝트를 확인하세요</div>

                            <h1 class="big-title has-animation skew-up">
                                개발 이력
                            </h1>

                        </div>
                        <!--/ Text Wrapper -->

                    </div>
                    <!--/ Column -->

                </div>
                <!--/ Wrapper (Small) -->

                <!-- Wrapper -->
                <div class="wrapper">

                    <!-- Column -->
                    <div class="c-col-6 left-ims">

                        <!-- Image Wrapper -->
                        <div class="image-wrapper landing-im">

                            <!-- Image Caption -->
                            <div class="caption">02. MOS (2020)</div>
                            <!--/ Image Caption -->

                            <!-- Page URL -->
                            <a href="project-2" target="_blank">

                                <!-- Page Screenshot -->
                                <img src="images/project2/mos-seller-main.png" alt="Showcase Screenshot">
                                <!--/ Page Screenshot -->

                            </a>
                            <!--/ Page URL -->

                        </div>
                        <!--/ Image Wrapper -->

                        <!-- Image Wrapper -->
                        <div class="image-wrapper landing-im">

                            <!-- Image Caption -->
                            <div class="caption">04. 마이펫 다이어리 (2018)</div>
                            <!--/ Image Caption -->

                            <!-- Page URL -->
                            <a href="project-4" target="_blank">

                                <!-- Page Screenshot -->
                                <img src="images/project4/mypet-logo-center.jpg" alt="Showcase Screenshot">
                                <!--/ Page Screenshot -->

                            </a>
                            <!--/ Page URL -->

                        </div>
                        <!--/ Image Wrapper -->

                        <!-- Text Wrapper -->
                        <div class="text-wrapper align-center hide-mobile">
                            <h3 class="thin">
                                More Coming Soon.
                            </h3>
                        </div>
                        <!--/ Text Wrapper -->

                    </div>
                    <!-- Column -->

                    <!-- Column -->
                    <div class="c-col-6 right-ims">

                        <!-- Image Wrapper -->
                        <div class="image-wrapper landing-im">

                            <!-- Image Caption -->
                            <div class="caption">01. CoupleBoard (2021)</div>
                            <!--/ Image Caption -->

                            <!-- Page URL -->
                            <a href="project-1" target="_blank">

                                <!-- Page Screenshot -->
                                <img style="object-fit: contain;" src="images/project1/coupleboard-pc-home.png" alt="Showcase Screenshot">
                                <!--/ Page Screenshot -->

                            </a>
                            <!--/ Page URL -->

                        </div>
                        <!--/ Image Wrapper -->

                        <!-- Image Wrapper -->
                        <div class="image-wrapper landing-im">

                            <!-- Image Caption -->
                            <div class="caption">03. Mobile Order System (2020)</div>
                            <!--/ Image Caption -->

                            <!-- Page URL -->
                            <a href="project-3" target="_blank">

                                <!-- Page Screenshot -->
                                <img src="images/project3/home_img.png" alt="Showcase Screenshot">
                                <!--/ Page Screenshot -->

                            </a>
                            <!--/ Page URL -->

                        </div>
                        <!--/ Image Wrapper --> 

                    </div>
                    <!--/ Column -->

                </div>
                <!--/ Wrapper -->

            </div>

            <!--/ Section -->
            <div class="section">

                <!-- Wrapper -->
                <div class="wrapper-small">

                    <!-- Column -->
                    <div class="c-col-12 align-center">
                        <div class="caption has-animation skew-up">GITHUB</div>
                        <h1 data-delay="0.2" class="big-title has-animation skew-up"><a href="https://github.com/aqntks" class="underline">github.com/aqntks</a></h1>
                    </div>
                    <!--/ Column -->

                </div>
                <!--/ Wrapper -->

            </div>
            <!--/ Section -->

            <!-- Footer -->
            <footer class="site-footer">

                <!-- Wrapper -->
                <div style="margin-bottom: 0" class="wrapper">

                    <!-- Column -->
                    <div class="c-col-6">

                        <!-- Footer Menu -->
                        <ul class="footer-menu ">
                            <li><a href="mailto:cjd0030@gmail.com">cjd0030@gmail.com</a></li>
                            <li><a href="https://github.com/aqntks">GITHUB</a></li>
                            <li><a style ="color: hsla(0, 0%, 48.6%, .4);" target="_blank">010-3579-1430</a></li>
                               
                        </ul>
                        <!--/ Footer Menu -->

                    </div>
                    <!-- Column -->

                    <!-- Column -->
                    <div class="c-col-6 align-right">
                        <p class="copyright-text">홍인표 포트폴리오. 2021</p>
                    </div>
                    <!-- Column -->

                </div>
                <!-- Wrapper -->


            </footer>
            <!--/ Footer -->

        </div>


    </div>
    <!--/ Site Content -->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/jquery.smoothState.js"></script>
 </body>

 </html>
