<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">

    <!-- Page Title -->
    <title>홍인표 포트폴리오</title>
    <!--/ Page Title -->

    <meta name="author" content="Pe Themes">
    <meta name="description" content="Interactive Portfolio Showcase Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap" rel="stylesheet">

    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/entypo.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/iph-logo.jpg" />
    <link rel="apple-touch-icon" href="images/iph-logo.jpg" />
    <!--/ Favicons -->
</head>

<body>

        <!-- Loading Text -->
    <div class="loading-text">Loading</div>
    <!-- Loading Text -->
    
    <!-- Lines (Don't Touch) -->
    <div class="lines"></div>
    <!-- /Lines -->

    <!-- Page Loader -->
    <div class="cygni-loader">
        <div class="counter" data-count="99">00</div>
    </div>
    <!-- /Page Loader -->

    <!-- Overlays (Don't Touch) -->
    <div class="overlays"></div>
    <!-- /Overlays -->

    <!-- Header -->
    <header class="site-header">

        <!-- Branding -->
        <div class="site-branding">
        </div>
        <!-- /Branding -->

    </header>
    <!-- /Header -->

    <!-- Site Content -->
    <div id="main" class="content">

                <!-- Page Settings -->
        <div class="page-settings" data-layout="light" data-header-style="dark" data-menu-layout="dark"></div>
        <!--/ Page Settings -->
        
        <!-- Single Project -->
        <div class="single-project">

          
            <!-- Project Header -->
            <div class="project-header">

                <!-- Project Image -->
                <div class="project-image">
                    <img src="images/project3/home_img.png" alt="Project Header Image">
                </div>
                <!--/ Project Image -->

                <div class="project-top">

                    <!-- Project Category -->
                    <div data-delay=".2" class="project-work has-animation skew-down">
                        Project
                    </div>
                    <!-- Project Category -->

                    <!-- Project Title -->
                    <div class="project-title has-animation skew-up">
                        Mobile Order
                    </div>
                    <!-- Project Title -->

                </div>

                <!-- Project Metas -->
                <div class="project-meta">
                    
                    <div data-delay=".7" class="has-animation skew-up"><span class="pm-tit">Developer: </span>홍인표, 이채헌</div>

                    <div data-delay=".8" class="has-animation skew-up"><span class="pm-tit">Year: </span>2020</div>

                    <div data-delay=".9" class="has-animation skew-up"><span class="pm-tit">Github: </span><a href="https://github.com/aqntks/Mobile-Order-System-Purchaser-Version" style="color: black">github.com/aqntks/Mobile-Order</br>&emsp;&emsp;&emsp;&emsp;&emsp;-System-Purchaser-Version</a></div>
                    
                </div>
                <!-- Project Metas -->

                <!-- Project Summary -->
                <div data-delay="1" class="project-summary has-animation lines-up">
                    첫 팀 프로젝트입니다. Mobile Order System는 카페나 학생식당에서 원하는 메뉴를 편리하게 주문하기 위한 시스템입니다. 커피를 주문하기 위해 줄 서서 기다리지 않고 테이블에 앉아서 부담 없이 메뉴를 선택하고 주문할 수 있습니다. 또한 추가 주문을 위해 카운터까지 이동하지 않아도 됩니다.
                </div>
                <!-- Project Summary -->

            </div>
            <!--/ Project Header -->


            <!-- Project Content -->
            <div class="project-content">

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper -->
                    <div class="wrapper">

                        <!-- Column -->
                        <div class="c-col-6">
                            <span class="pe-empty-space" style="height: 250px"></span>
                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project3/order_menu.png" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper -->

                            <span class="pe-empty-space" style="height: 30px"></span>

                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project3/order_pop.png" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper -->

                        </div>
                        <!--/ Column -->

                        <!-- Column -->
                        <div class="c-col-6">

                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project3/result.png" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper -->

                            <span class="pe-empty-space" style="height: 30px"></span>

                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project3/sell.png" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!-- Wrapper -->

                </div>
                <!--/ Section -->

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper (Small) -->
                    <div class="wrapper-small">

                        <!-- Column -->
                        <div class="c-col-12">

                            <!-- Text wrapper -->
                            <div class="text-wrapper">

                                <div class="caption has-animation skew-up">개발 환경 및 사용 기술</div>

                                <h3 class="has-animation lines-fade-up">
                                    Java Spring STS MyBatis JSP SQLite MYSQL JQueryMobile
                                </h3>
                                <p data-delay="0.2" class="big-p has-animation lines-fade-up">
                                    Java & Spring & JSP으로 구현하였습니다. MYSQL로 데이터베이스를 관리하였으며 MyBatis를 사용하여 데이터를 연결하였습니다. Mobile 환경에 맞추기 위해 JQueryMobile을 사용하였으며 Ajax를 이용하였습니다. 장바구니 구현을 위해 SQLite를 사용했습니다. 팀원과 협업을 위해 Github의 Milestones로 릴리즈 구분과 일정을 설정했으며 Issue로 소통하며 Label을 이용하여 분류하였습니다.
                                </p>

                            </div>
                            <!--/ Text wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!--/ Wrapper (Small) -->

                </div>
                <!--/ Section -->

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper -->
                    <div class="wrapper-full">

                        <!-- Column -->
                        <div class="c-col-6">

                            <span class="pe-empty-space" style="height: 30px"></span>

                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project3/mos-logo.png" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper -->

                        </div>
                        <!--/ Column -->

                        <!-- Column -->
                        <div class="c-col-6">

                            <span class="pe-empty-space" style="height: 30px"></span>

                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project3/basket.png" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper -->

                        </div>
                        <!--/ Column -->



                    </div>
                    <!-- Wrapper -->

                </div>
                <!--/ Section -->

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper (Small) -->
                    <div class="wrapper-small">

                        <!-- Column -->
                        <div class="c-col-8">

                            <!-- Text Wrapper -->
                            <div class="text-wrapper">

                                <h1 class="big-title has-animation skew-up">
                                    결과
                                </h1>

                            </div>
                            <!--/ Text Wrapper -->

                        </div>
                        <!--/ Column -->

                        <!-- Column -->
                        <div class="c-col-6 hide-mobile"></div>
                        <!--/ Column -->

                        <!-- Column -->
                        <div class="c-col-6">

                            <!-- Text Wrapper -->
                            <div class="text-wrapper">

                                <p class="big-p has-animation lines-up">
                                    팀원과 함께 진행한 팀 프로젝트로 Github를 통해 협업 과정을 연습할 수 있었습니다.
                                    Github 내의 협업 도구들을 활용하며 팀원과 지속적인 소통을 진행했습니다.
                                    Spring 개발과 MVC 패턴을 연습할 수 있었으며 추후에 개발 한 MOS의 토대가 되었습니다.
                                </p>

                            </div>
                            <!--/ Text Wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!--/ Wrapper (Small) -->

                </div>
                <!--/ Section -->



            </div>
            <!-- Project Content -->

            <!-- Next Project Setion -->
            <div class="projects-nav">


                <div class="next-project">
                    <!-- Next Project URL -->
                     <a href="project-4">
                        <div class="next-project-wrapper">

                            <span class="next-project-span has-animation skew-up">Next Project</span>

                            <!-- Next Project Title -->
                            <h1 class="next-project-title has-animation skew-up">마이펫 다이어리</h1>
                            <!--/ Next Project Title -->
                        </div>

                        <!-- Next Project Image -->
                        <div class="next-project-image-wrapper">
                            <img src="images/project4/mypet-logo.jpg" alt="Next Project Image">
                        </div>
                        <!--/ Next Project Image -->

                    </a>
                    <!--/ Next Project URL -->
                </div>


            </div>
            <!--/ Next Project Setion -->

        </div>
      <!--/ Single Project -->

        <!-- Footer -->
        <footer class="site-footer">

            <!-- Wrapper -->
            <div style="margin-bottom: 0" class="wrapper">

                <!-- Column -->
                <div class="c-col-6">
                    <ul class="footer-menu ">
                        <li><a href="mailto:cjd0030@gmail.com">cjd0030@gmail.com</a></li>
                        <li><a href="https://github.com/aqntks/Mobile-Order-System-Purchaser-Version">GITHUB</a></li>
                        <li><a style ="color: hsla(0, 0%, 48.6%, .4);" target="_blank">010-3579-1430</a></li>
                           
                    </ul>
                </div>
                <!-- Column -->

                <!-- Column -->
                <div class="c-col-6 align-right">
                    <p class="copyright-text">홍인표 포트폴리오. 2021</p>
                </div>
                <!-- Column -->

            </div>
            <!-- Wrapper -->


        </footer>
        <!--/ Footer -->

    </div>
    <!--/ Site Content -->

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/jquery.smoothState.js"></script>
    <script src="js/page-transitions.js"></script>
</body>

</html>
