<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">

    <!-- Page Title -->
    <title>홍인표 포트폴리오</title>
    <!--/ Page Title -->

    <meta name="author" content="Pe Themes">
    <meta name="description" content="Interactive Portfolio Showcase Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap" rel="stylesheet">

    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/entypo.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/iph-logo.jpg" />
    <link rel="apple-touch-icon" href="images/iph-logo.jpg" />
    <!--/ Favicons -->
</head>

<body>

    <!-- Loading Text -->
    <div class="loading-text">Loading</div>
    <!-- Loading Text -->

    <!-- Lines (Don't Touch) -->
    <div class="lines"></div>
    <!-- /Lines -->

    <!-- Page Loader -->
    <div class="cygni-loader">
        <div class="counter" data-count="99">00</div>
    </div>
    <!-- /Page Loader -->

    <!-- Overlays (Don't Touch) -->
    <div class="overlays"></div>
    <!-- /Overlays -->

    <!-- Header -->
    <header class="site-header">

        <!-- Branding -->
        <div class="site-branding">
           
        </div>
        <!-- /Branding -->

    </header>
    <!-- /Header -->

    <!-- Site Content -->
    <div id="main" class="content">

        <!-- Page Settings -->
        <div class="page-settings" data-layout="light" data-header-style="dark" data-menu-layout="dark" data-background="#deb5b1"></div>
        <!--/ Page Settings -->

        <!-- Single Project -->
        <div class="single-project">

            <!-- Project Header -->
            <div class="project-header">

                <!-- Project Image -->
                <div class="project-image">
                    <img src="images/project1/cb-pc-home-white.png" alt="Project Header Image">
                </div>
                <!--/ Project Image -->

                <div class="project-top">

                    <!-- Project Category -->
                    <div data-delay=".2" class="project-work has-animation skew-down">
                        Project
                    </div>
                    <!-- Project Category -->

                    <!-- Project Title -->
                    <div class="project-title has-animation skew-up">
                        CoupleBoard
                    </div>
                    <!-- Project Title -->

                </div>

                <!-- Project Metas -->
                <div class="project-meta">

                    <div data-delay=".7" class="has-animation skew-up"><span class="pm-tit">Developer: </span>홍인표</div>

                    <div data-delay=".8" class="has-animation skew-up"><span class="pm-tit">Year: </span>2021</div>

                    <div data-delay=".9" class="has-animation skew-up"><span class="pm-tit">Github: </span><a href="https://github.com/aqntks/coupleboard" style="color: black">github.com/aqntks/coupleboard</a></div>

                </div>
                <!-- Project Metas -->

                <!-- Project Summary -->
                <div data-delay="1" class="project-summary has-animation lines-up">
                    CoupleBoard는 여자친구와의 커플 페이지를 관리하기 위해 제작한 사이트입니다. 여자친구와의 일정을 저장하고 추억을 기록하기 위한 페이지입니다. 프로필을 등록하고 커플 상세정보를 등록할 수 있습니다. 데이트 일정이나 기념일 일정을 저장할 수 있으며 중요 일정들을 알림으로 알아볼 수 있습니다. 여자친구와의 추억을 저장하고 사진을 등록할 수 있습니다.
                </div>
                <!-- Project Summary -->

            </div>
            <!--/ Project Header -->


            <!-- Project Content -->
            <div class="project-content">

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper -->
                    <div class="wrapper">

                        <!-- Column -->
                        <div class="c-col-12">

                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project1/coupleboard-pc-home.png" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!-- Wrapper -->

                    <!-- Wrapper -->
                    <div class="wrapper">

                        <!-- Column -->
                        <div class="c-col-12">

                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project1/coupleboard-pc-memory2.png" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!-- Wrapper -->

                </div>
                <!--/ Section -->

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper (Small) -->
                    <div class="wrapper-small">

                        <!-- Column -->
                        <div class="c-col-12">

                            <!-- Text wrapper -->
                            <div class="text-wrapper">

                                <div class="caption has-animation skew-up">개발 환경 및 개발 기술</div>

                                <h3 class="has-animation lines-fade-up">
                                    Java Spring Intellij JPA MariaDB Mustache Bootstrap AWS
                                </h3>
                                <p data-delay="0.2" class="big-p has-animation lines-fade-up">
                                    Intellij를 사용하여 Java & Spring 프로젝트로 진행했습니다. View 템플릿은 Mustache를 사용했으며 DB 적용 사항을 확인하기 위해 h2database를 사용했습니다. 배포된 서버에 사용된 DB는 MariaDB를 이용한 AWS RDS이며 DB 연결 기술로는 JPA를 사용했습니다. 프로필 사진이나 추억 사진 저장을 위해 AWS S3 온라인 스토리지를 이용했습니다.
                                </p>

                            </div>
                            <!--/ Text wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!--/ Wrapper (Small) -->

                </div>
                <!--/ Section -->

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper (Small) -->
                    <div class="wrapper-small">

                        <!-- Column -->
                        <div class="c-col-12">

                            <!-- Text wrapper -->
                            <div class="text-wrapper">

                                <div class="caption has-animation skew-up">배포</div>

                                <h3 class="has-animation lines-fade-up">
                                    AWS EC2 ROUTE53 CodeDeploy S3 Github Action Nginx
                                </h3>
                                <p data-delay="0.2" class="big-p has-animation lines-fade-up">
                                    AWS의 EC2 Linux 서버를 구축하였으며 ROUTE53으로 도메인을 호스팅 했습니다. Github Action를 통해 AWS S3에 배포 파일을 저장하고 CodeDeploy가 Linux 서버에 배포하는 자동 배포 환경을 구현하였습니다. Nginx를 통해 서버 내부를 분할하여 자동 배포 중에도 서버가 끊기지 않는 무중단 배포 환경도 구현하였습니다.
                                </p>

                            </div>
                            <!--/ Text wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!--/ Wrapper (Small) -->

                </div>
                <!--/ Section -->

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper -->
                    <div class="wrapper-full">

                        <!-- Column -->
                        <div class="c-col-4">
                            
                                <span class="pe-empty-space" style="height: 30px"></span>
                            
                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project1/coupleboard-mob1.jpg" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper --> 

                        </div>
                        <!--/ Column -->

                        <!-- Column -->
                        <div class="c-col-4">
                            
                            <span class="pe-empty-space" style="height: 30px"></span>
                        
                        <!-- Image Wrapper -->
                        <div class="image-wrapper image-lightbox has-animation slide-top">
                            <img src="images/project1/coupleboard-mob2.jpg" alt="Single Image">
                        </div>
                        <!--/ Image Wrapper --> 

                        </div>
                        <!--/ Column -->

                        <!-- Column -->
                        <div class="c-col-4">
                            
                            <span class="pe-empty-space" style="height: 30px"></span>
                        
                        <!-- Image Wrapper -->
                        <div class="image-wrapper image-lightbox has-animation slide-top">
                            <img src="images/project1/coupleboard-mob3.jpg" alt="Single Image">
                        </div>
                        <!--/ Image Wrapper --> 

                        </div>
                        <!--/ Column -->

                    </div>
                    <!-- Wrapper -->

                </div>
                <!--/ Section -->    

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper (Small) -->
                    <div class="wrapper-small">

                        <!-- Column -->
                        <div class="c-col-12">

                            <!-- Text wrapper -->
                            <div class="text-wrapper">

                                <div class="caption has-animation skew-up">보안</div>

                                <h3 class="has-animation lines-fade-up">
                                    HTTPS AWS Certificate Manager Load Balancer
                                </h3>
                                <p data-delay="0.2" class="big-p has-animation lines-fade-up">
                                    AWS Certificate Manager를 통해 인증서를 발급받았으며 Load Balancer로 웹 페이지 접근을 https로 라우팅하여 보안 연결을 적용하였습니다.
                                </p>

                            </div>
                            <!--/ Text wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!--/ Wrapper (Small) -->

                </div>
                <!--/ Section -->
                
                <!-- Section -->
                <div class="section">

                    <!-- Wrapper -->
                    <div class="wrapper">

                        <!-- Column -->
                        <div class="c-col-12">

                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project1/coupleboard-pc-memory3.png" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!-- Wrapper -->

                    <!-- Wrapper -->
                    <div class="wrapper">

                        <!-- Column -->
                        <div class="c-col-12">

                            <!-- Image Wrapper -->
                            <div class="image-wrapper image-lightbox has-animation slide-top">
                                <img src="images/project1/coupleboard-pc-plan.png" alt="Single Image">
                            </div>
                            <!--/ Image Wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!-- Wrapper -->

                </div>
                <!--/ Section -->

                <!-- Section -->
                <div class="section">

                    <!-- Wrapper (Small) -->
                    <div class="wrapper-small">

                        <!-- Column -->
                        <div class="c-col-8">

                            <!-- Text Wrapper -->
                            <div class="text-wrapper">

                                <h1 class="big-title has-animation skew-up">
                                    결과
                                </h1>

                            </div>
                            <!--/ Text Wrapper -->

                        </div>
                        <!--/ Column -->

                        <!-- Column -->
                        <div class="c-col-6 hide-mobile"></div>
                        <!--/ Column -->

                        <!-- Column -->
                        <div class="c-col-6">

                            <!-- Text Wrapper -->
                            <div class="text-wrapper">

                                <p class="big-p has-animation lines-up">
                                    이번 프로젝트는 Spring MVC 개발뿐만 아니라 서버와 클라이언트를 운영할 때 더 나은 환경을 만들어 보자는 점에 중점을 두고 시작했습니다.</br>
                                    실제로 커플 사이트를 운영하면서 Linux 서버 관리 및 배포에 대한 다양한 경험과 연습을 할 수 있었던 프로젝트였습니다.
                                </p>

                            </div>
                            <!--/ Text Wrapper -->

                        </div>
                        <!--/ Column -->

                    </div>
                    <!--/ Wrapper (Small) -->

                </div>
                <!--/ Section -->


            </div>
            <!-- Project Content -->


            <!-- Next Project Setion -->
            <div class="projects-nav">

                <div class="next-project">
                    <!-- Next Project URL -->
                    <a href="project-2">
                        <div class="next-project-wrapper">

                            <span class="next-project-span has-animation skew-up">Next Project</span>

                            <!-- Next Project Title -->
                            <h1 class="next-project-title has-animation skew-up">MOS</h1>
                            <!--/ Next Project Title -->
                        </div>

                        <!-- Next Project Image -->
                        <div class="next-project-image-wrapper">
                            <img src="images/project2/mos-logo.png" alt="Next Project Image">
                        </div>
                        <!--/ Next Project Image -->

                    </a>
                    <!--/ Next Project URL -->
                </div>


            </div>
            <!--/ Next Project Setion -->

        </div>
        <!--/ Single Project -->

        <!-- Footer -->
        <footer class="site-footer">

            <!-- Wrapper -->
            <div style="margin-bottom: 0" class="wrapper">

                <!-- Column -->
                <div class="c-col-6">
                    <ul class="footer-menu ">
                        <li><a href="mailto:cjd0030@gmail.com">cjd0030@gmail.com</a></li>
                        <li><a href="https://github.com/aqntks/coupleboard">GITHUB</a></li>
                        <li><a style ="color: hsla(0, 0%, 48.6%, .4);" target="_blank">010-3579-1430</a></li>
                           
                    </ul>
                </div>
                <!-- Column -->

                <!-- Column -->
                <div class="c-col-6 align-right">
                    <p class="copyright-text">홍인표 포트폴리오. 2021</p>
                </div>
                <!-- Column -->

            </div>
            <!-- Wrapper -->


        </footer>
        <!--/ Footer -->

    </div>
    <!--/ Site Content -->

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/jquery.smoothState.js"></script>
    <script src="js/page-transitions.js"></script>
</body>

</html>
